=bootstrap_form_for [@client, @disp] do |f|
  = f.error_messages
  %fieldset
    %legend 
      Исходные данные
    =f.date_select :actual_date, :label => "Дата" 
    =f.collection_select :user_id, User.order(:surname),:id,:short_fio_with_doctor_type, :label => "Врач"
    #mkbs
      =f.collection_select :mkb_id, @client.mkbs,:id,:mkb, {:label => "Заболевание", :add_link =>  new_client_mkb_path(@client)}

  %fieldset
    %legend 
      Заключение
    =f.radio_button :result,Disp::STABLE,:label => "Без изменений", :checked => true 
    =f.radio_button :result,Disp::PROGRESS,:label => "Лучше" 
    =f.radio_button :result,Disp::REGRESS,:label => "Хуже"


    =hidden_field_tag :client_id,@client.id
  .form-actions
    =f.submit "Сохранить",:class => "btn primary"
