/ #inspections
/ 	.h3 1
/ 	#therapeft
/ 		.p 
/ 			=f.check_box :one,:label => "Маломобильный ?"
/ 			=f.check_box :two,:label => "Маломобильный ?"
/ 			=f.check_box :three,:label => "Маломобильный ?"
/ 	.h3 2
/ 	#therapeft
/ 		.p 
/ 			hello there
/ 	.h3 2
/ 	#therapeft
/ 		.p 
/ 			hello there